body {
	background-image: url('../pics/bg_stars.jpg');
	background-color: grey;
}

.header {
	display: block;
	margin: auto;
	margin-top: -8px;
	border: 2px solid black;
}

.navbar {
	background-image: url('../pics/grad.png');
	height: 34px;
	width: 696px;
	margin: auto;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
}

.navbar > img {
	margin-left: 9px;
	position: relative;
	top: -1px;
}

.navbar > a > img{
	margin-top: 3px;
}

.navbar > a:first-child img /* overview */
{
    margin-left:17px;
}
.navbar > a:nth-child(2) img /* rules */
{
    margin-left:5px;
    margin-right:-3px;
}
.navbar > a:nth-child(3) img /* Schedule */
{
    margin-left:8px;
}
.navbar > a:nth-child(4) img /* Coverage */
{
    margin-left:9px;
    margin-right:1px;
}
.navbar > a:last-child img /* Sponsor */
{
    margin-left:10px;
}